/* Contents
 * * Layout
 * * Typography
 * * Color & Decoration
 * * Images & Background Images
 */

/* Layout */
html, body { width: 100%; height: 100%; }

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  &.home {
    max-height: 800px;
  }
  &.page {
    max-height: 650px; /* non-calc fallback */
    max-height: calc(550px + 6.5rem);
    padding-bottom: 6.5rem;
    &.small {
      max-height: 350px;
    }
  }
  .hero {
    width: 100%;
    height: 100%;
  }
  &.fixed {
    position: fixed;
  }
}

.footer {
    padding: 40px 0 60px;
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    h3 { width: 100px; }
}

.content {
  width: 100%;
  padding: 75px 0 50px;
  position: relative;
  z-index: 2;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page .wrap {
  max-width: 600px;
}

.pad {
  padding: 0 20px;
}

.posts {
  margin-top: 40px;
  text-align: center;
}

.post {
  width: 300px;
  height: 200px;
  margin: 10px 6px;
  display: inline-block;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  position: relative;
  & > a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 20px;
  width: 110px;
  height: 60px;
}

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 2rem 0;
}

/* Typography */
body {
  font-family: "source-sans-pro", sans-serif;
}

.header {
  h1 {
    font-size: 4.5rem;
    line-height: 4.0rem;
    @media screen and (max-width: 500px) {
      font-size: 3rem;
      line-height: 2.6rem;
    }
    text-transform: uppercase;
  }
  &.page h1 { text-align: center; }
  &.home h1 {
    position: absolute;
    &.top {
      bottom: 50%;
      margin-bottom: 3rem;
    }
    &.bottom {
      color: #fff;
      top: 50%;
      margin-top: 1rem;
    }
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1rem;
}

.page h2 {
  font-weight: normal;
  font-style: italic;
}

.post h2 { text-align: center; }

p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

ul, ol {
  margin-bottom: 1rem;
}

.footer {
  h3 {
  font-size: 1.125rem;
  font-weight: normal;
  padding-bottom: 6px;
  margin-bottom: 12px;
  }
}

/* Color & Decoration */
body {
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
}

.content {
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a1a1a;
}

a {
  text-decoration: none;
  color: #0074D9;
  &:hover {
    text-decoration: underline;
  }
}

.post a {
  color: #523D49;
  text-decoration: none;
}

.footer {
  background: #1a1a1a;
  color: white;
  h3 {
    border-bottom: 1px solid white;
    color: white;
  }
  ul { list-style: none; }
  a {
    color: white;
    font-size: 0.875rem;
    text-decoration: none;
  }
}

/* Images & Background Images */
.home {
  .hero {
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('../img/adobe_office.jpg');
  }
}
