{% comment %}
Valid browser names are id's in flat-icons
internet-explorer, chrome, firefox, safari, opera, ios, android
{% endcomment %}
<table class="browser-support">
<tr>
{% for browser in browser_support %}
    {% assign icon = browser.name | downcase | replace:' ','-' %}
    <td class="col-{{ browser_support | size }}"><img src="{{ site.baseurl }}/img/browser-logos/{{ icon }}.svg" alt="{{ browser.name }}" title="{{ browser.name }}"></td>
{% endfor %}
</tr>
<tr>
{% for browser in browser_support %}
    <td class="{{ browser.support }}">{{ browser.version }}</td>
{% endfor %}
</tr>
</table>
