<footer class="site-footer">

  <div class="wrap">
    <h3>Learn More</h3>
    <nav>
      <ul>
        <li><a href="http://blogs.adobe.com/webplatform/">Team Blog</a></li>
        <li><a href="https://github.com/adobe-webplatform/">GitHub</a></li>
        <li><a href="http://codepen.io/adobe/">CodePen</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
        <li><a href="http://www.adobe.com/misc/terms.html?mboxsession=1408569095591-255580">Terms of use</a></li>
        <li><a href="http://www.adobe.com/privacy.html?mboxsession=1408569095591-255580">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>

</footer>
