<footer class="footer">

  <div class="wrap pad">
    <h3>Learn More</h3>
    <nav>
      <ul class='flush'>
        {% if page.layout == 'page' %}<li><a href="{{site.baseurl}}/">Home</a></li>{% endif %}
        <li><a href="http://blogs.adobe.com/webplatform/">Team Blog</a></li>
        <li><a href="{{site.baseurl}}/demos">Demos</a></li>
        <li><a href="https://github.com/adobe-webplatform/">GitHub</a></li>
        <li><a href="http://codepen.io/adobe">CodePen</a></li>
        <li><a href="https://twitter.com/adobeweb">Twitter</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
        <li><a href="http://www.adobe.com/misc/terms.html?mboxsession=1408569095591-255580" target="_blank">Terms of use</a></li>
        <li><a href="http://www.adobe.com/privacy.html?mboxsession=1408569095591-255580" target="_blank">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/third-party/modernizr.custom.31552.js"></script>
  <script src="{{ site.baseurl }}/js/main.js"></script>

  <!-- Copyright 2014 Adobe Web Platform Team -->
</footer>
