<header>
  <div class="header home">
    <div class="wrap pad">
      <img class="logo" src="img/adobe-a.svg">
      <div class="title">
        <h1 class="team">Web Platform</h1>
        <p class="byline">Building a more expressive web</p>
      </div>
      <ul class="nav">
        <li><a href="http://blogs.adobe.com/webplatform">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="header home fixed">
    <div class="wrap pad">
      <img class="logo" src="img/adobe-a.svg">
      <div class="title">
        <h1 class="team">Web Platform</h1>
        <p class="byline">Building a more expressive web</p>
      </div>
      <ul class="nav">
        <li><a href="http://blogs.adobe.com/webplatform">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</header>
