<header class="header home">
  <div class="wrap pad">
    <svg class='logo' version="1.1" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 130 115" enable-background="new 0 0 130 115" xml:space="preserve">
    </svg>
    <h1>Web<br/>Platform<br/>Team</h1>
  </div>
  <div class="header home fixed">
      <div class="wrap pad">
        <svg class='logo' version="1.1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 130 115" enable-background="new 0 0 130 115" xml:space="preserve">
            <polygon points="81.9,0 130,0 130,115.1 "/>
            <polygon points="48.1,0 0,0 0,115.1 "/>
            <polygon points="65,42.4 95.6,115 75.6,115 66.4,91.9 44,91.9 "/>
        </svg>
        <h1>Web<br/>Platform<br/>Team</h1>
      </div>
  </div>
</header>
