<!DOCTYPE html>
<html>

{% assign header_style = ".header { background: #{{page.bg}}; background: linear-gradient(#{{page.bg}}, #{{page.bg}}), url({{site.baseurl}}/img/halftone.png); background-blend-mode: multiply; }" | replace: "{{page.bg}}", page.bg | replace: "{{site.baseurl}}", site.baseurl %}
{% include head.html %}

<body class='page'>

<header class="header page {% if page.full_image == null %}small{% endif %}">
    <a href='/' class='home-nav'><svg class='logo' version="1.1" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 130 115" enable-background="new 0 0 130 115" xml:space="preserve">
        <polygon points="81.9,0 130,0 130,115.1 "/>
        <polygon points="48.1,0 0,0 0,115.1 "/>
        <polygon points="65,42.4 95.6,115 75.6,115 66.4,91.9 44,91.9 "/>
    </svg></a>
    {% if page.full_image %}<img class='hero' src='{{ site.baseurl }}/img/{{ page.full_image }}' alt='hero'>{% endif %}
    <h1>{{page.title}}</h1>
    <div class="header page fixed {% if page.full_image == null %}small{% endif %}" aria-hidden="true">
        {% if page.full_image %}<img class='hero' src='{{ site.baseurl }}/img/{{ page.full_image }}' alt='hero'>{% endif %}
        <h1>{{page.title}}</h1>
    </div>
</header>

<div class="content">
  <div class="wrap pad">
    {{content}}
  </div>
</div>

{% include footer.html %}
{% include analytics.html %}
</body>
</html>
